/* Reset box model and margins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #fff;
  font-family: jaf-facitweb, sans-serif;
  font-size: 15px;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Don't show bluebox around contenteditable in WebKit */
[contenteditable]:focus {
  outline: 0px solid transparent;
}

[contenteditable]:hover {
  cursor: pointer;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Colors used throughout interface */
$primary-color: #261835;
