.lineDetailsView {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;

  input {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    padding-bottom: 2px;
  }

  input:hover {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
  }

  nav {
    background: $primary-color;
    height: 42px;
    color: rgba(255, 255, 255, 0.7);
    padding: 14px 14px;

    .back {
      float: left;
      margin-top: -1px;
    }

    .right {
      float: right;
      margin-top: -1px;
    }

    .add {
      margin-right: 10px;
      display: inline-block;
    }

    .delete {
      display: inline-block;
    }

    .back, .add, .delete {
      padding-bottom: 2px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    }

    .back:hover, .add:hover, .delete:hover {
      color: white;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }
  }

  header {
    padding: 14px 14px;

    .name {
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      border-bottom: none;
    }

    .name:hover {
      border-bottom: none;
    }

    .description, .controls {
      font-size: 14px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 6px;
    }

    .controls {
      .simple {
        margin-right: 10px;
      }

      span {
        opacity: 0.5;
      }
      
      .selected {
        opacity: 1;
      }
    }
  }

  .serviceWindows {
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
    padding: 14px 14px;

    .isInvalid {
      opacity: 0.5;
    }

    .isInvalid input {
      opacity: 0.5;
    }

    .windows>div {
      margin-top: 5px;
    }

    .windowName, .from, .to, .headway {
      display: inline-block;
    }

    .windowName {
      width: 75px;
    }

    .from {
      width: 48px;
      margin-right: 5px;
    }

    .to {
      width: 48px;
      margin-right: 5px;
    }

    .headway {
      width: 54px;
    }
  }

  .outputs {
    padding: 14px 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
    font-size: 24px;

    h2 {
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      margin-top: 5px;
    }

    span {
      color: white;
    }
  }

  // Inlined info image
  .showBusOutputs, .showCostOutputs {
    position: relative;
    top: 5px;
    opacity: 0.5;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPGc+CjwvZz4KCTxwYXRoIGQ9Ik03LjkwMiAwLjY0MWMtNC4wNjQgMC4wNTQtNy4zMTUgMy4zOTQtNy4yNjEgNy40NTggMC4wNTQgNC4wNjIgMy4zOTQgNy4zMTQgNy40NTggNy4yNiA0LjA2NC0wLjA1NCA3LjMxNS0zLjM5NCA3LjI2MS03LjQ1OC0wLjA1NC00LjA2My0zLjM5NC03LjMxNC03LjQ1OC03LjI2ek04LjcxOCAzLjA5NGMwLjc0OCAwIDAuOTY5IDAuNDM0IDAuOTY5IDAuOTMgMCAwLjYyLTAuNDk3IDEuMTk0LTEuMzQ0IDEuMTk0LTAuNzA5IDAtMS4wNDYtMC4zNTctMS4wMjYtMC45NDYgMC0wLjQ5NyAwLjQxNi0xLjE3OCAxLjQwMS0xLjE3OHpNNi43OTkgMTIuNmMtMC41MTEgMC0wLjg4Ni0wLjMxLTAuNTI4LTEuNjc1bDAuNTg2LTIuNDE5YzAuMTAyLTAuMzg4IDAuMTE4LTAuNTQzIDAtMC41NDMtMC4xNTMgMC0wLjgxNyAwLjI2OC0xLjIxIDAuNTMybC0wLjI1NS0wLjQxOGMxLjI0NC0xLjAzOCAyLjY3NC0xLjY0OCAzLjI4Ny0xLjY0OCAwLjUxMSAwIDAuNTk2IDAuNjA1IDAuMzQxIDEuNTM1bC0wLjY3MiAyLjU0NGMtMC4xMTggMC40NS0wLjA2NyAwLjYwNSAwLjA1MSAwLjYwNSAwLjE1MyAwIDAuNjU2LTAuMTg2IDEuMTUtMC41NzRsMC4yODkgMC4zODhjLTEuMjA5IDEuMjA5LTIuNTI4IDEuNjc0LTMuMDQwIDEuNjc0eiIgZmlsbD0iI2ZmZmZmZiI+PC9wYXRoPgo8L3N2Zz4K) no-repeat;
  }

  .showBusOutputs:hover, .showCostOutputs:hover {
    opacity: 1;
  }

  .showBusOutputs {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .showCostOutputs {
    // background: url(/images/info.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .advancedOutputs {
    position: absolute;
    width: 300px;
    right: 285px;
    bottom: 0;

    // Patch the gap so mouseleave doesn't trigger early
    &:after {
      position: absolute;
      right: -10px;
      top: 0;
      display: block;
      content: ' ';
      height: 134px;
      width: 12px;
    }

    .speed {
      width: 90px;
    }

    .layover {
      width: 50px;
    }

    .hourlyCost {
      width: 60px;
    }
  }

  .busOutputs {
    display: none;
  }

  .costOutputs {
    display: none;
  }
}
