.mapSidebarView {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;

  a {
    text-decoration: none;
    border-bottom: 1px dotted #F9F4FF;
    color: white;
  }

  a:hover {
    cursor: pointer;
  }

  span {
    border-bottom: 1px dotted #7D6992;
    color: white;
  }

  span:hover {
    cursor: pointer;
    border-bottom: 1px dotted #F9F4FF;
  }

  .scrollable {
    max-height: 350px;
    overflow: auto;
  }

  header {
    background: $primary-color;
    padding: 16px 14px;

    h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
    }

    .source {
      margin-top: 7px;
      margin-bottom: 9px;
    }

     p, .stats {
      font-size: 14px;
      line-height: 24px;
      color: #B9B3CA;
      margin-top: 6px;
    }
  }

  .mapSidebarSubview {
    padding: 17px 14px;

    .name {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
    }

    .stats{
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 11px;
    }
  }

  .actions {
    background: $primary-color;
    position: relative;
    padding: 16px 14px;

    .left {
      position: relative;
      top: -1px;
    }

    .right {
      position: absolute;
      right: 14px;
      top: 15px;

      span {
        margin-left: 10px;
      }
    }
  }

  .sharebox {
    background: #518A51;
    padding: 16px 14px;
    position: relative;
    font-size: 14px;

    input {
      margin-bottom: 13px;
      color: #000;
      font-size: 13px;
      padding: 9px;
      width: 100%;
      outline: 0;
      border: none;
    }

    &:after {
      bottom: 100%;
      right: 29%;
      border: 10px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #518A51;
    }
  }
}
