<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Design, remix, and share your perfect transit map. Transitmix is a simple transit sketching tool for transit agencies and transit planners.">
  <meta name="viewport" content="width=device-width">
  
  <!-- bounce old internet explorer -->
  <!--[if lte IE 9]>
  <meta http-equiv="refresh" content="3;url=http://browser-update.org/update.html" />
  <![endif]-->
  
  <title>Transitmix | A transit sketching tool.</title>

  <!-- typekit -->
  <script src="http://use.typekit.net/xkd8pzb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- mapbox css -->
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css" rel="stylesheet" />

  <!-- our fresh styles -->
  <%= css :app %>
</head>
<body>
  <p class="description">A sketching tool for transit planners. Transitmix makes it easy to draw new transit lines, understand the underlying costs, and share ideas with the public. Start designing your perfect transit map today!</p>
  <div id="map">
    <a href="https://mapzen.com/" class="mapzen-maplogo" target="_blank">Mapzen</a>
    <a href="http://mapbox.com/about/maps" class="mapbox-maplogo" target="_blank">Mapbox</a>
  </div>

  <!-- underscore templates -->
  <script type="text/template" id="tmpl-feedback-view">
    <div class="feedbackHint">What is Transitmix?</div>
    <div class="feedbackExpansion" style="display:none">
      <div class="feedbackDescription">This is an <a href="https://github.com/codeforamerica/transitmix/blob/master/README.md" target="_blank">early preview</a> of a transit planning app, made by <a href="http://codeforamerica.org/about/" target="_blank">Code for America</a>. Help make it better by <a href="mailto:transitmix@codeforamerica.org">emailing us</a> with feedback, or catch us on twitter: <a href="https://twitter.com/transitmixapp" target="_blank">@transitmixapp</a>.</div>
      <div class="feedbackDescription">Or sign up for email updates:</div>
       <form class="feedbackForm" action="https://tinyletter.com/transitmix" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/transitmix', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <input type="text" style="width:250px" name="email" id="tlemail" placeholder="enter email address" />
        <input type="hidden" value="1" name="embed"/><input class="feedbackSubmit" type="submit" value="Subscribe" />
      </form>
    </div>
  </script>

  <script type="text/template" id="tmpl-home-view">
    <div class="homeViewWrapper">
      <div class="homeTitle">Transitmix</div>
      <div class="homeDescription">Design, remix, and share your perfect transit map.<br />Choose a city:</div>
      <div class="homeCityWrapper">
        <span class="homeCity" contenteditable="true">San Francisco, CA</span>
        <span class="homeStartButton">Start</span>
      </div>
    </div>
  </script>

  <script type="text/template" id="tmpl-MapDetailsView">
    <header>
      <h1>{{ name }}</h1>
      <div class="toggleSettings"></div>
      {# if (remixedFromId) { #}
        <div class="source">Remixed from <span class="remixedFrom">#{{ remixedFromId }}</span></div>
      {# } #}
      <div class="stats">
        This map: <label class="lineCount"></label> lines, 
        <label class="distance"></label>, 
        <label class="costWrapper"><label class="cost"></label> per year, </label>
        <label class="hoursWrapper"><label class="hours"></label> hrs / year, </label>
        <label class="buses"></label> buses at peak</div>
    </header>

    <div class="scrollable">
      <div class="lines">
        <!-- Lines are dynamically inserted here -->
      </div>
    </div>

    <div class="actions">
      <div class="left">
        <span class="add">Add a line</span>
      </div>

      <div class="right">
       <span class="export"></span>
       <span class="share">Share</span>
       <span class="remix">Remix</span>
      </div>
    </div>

    <div class="sharebox" style="display:none">
        <input type="text" />
        Download <a href="/api/maps/{{ id }}.kml">KML</a> or <a href="/api/maps/{{ id }}.zip">Shapefile</a>
  </script>

  <script type="text/template" id="tmpl-MapDetailsView-empty">
    <header>
      <h1>{{ name }}</h1>
      <div class="toggleSettings"></div>
      <p>Lovely city you've got there. But it sure could use some transit.<!-- ' Fix syntax coloring in Sublime--></p>
      <p>Start by <span class="add">adding a transit line</span>.</p>
    </header>
    <div class="advancedStart">
      <p>Want more control? Then <span class="toggleSettingsText">configure the settings</span> first.</p>
    </div>
  </script>

  <script type="text/template" id="tmpl-MapDetailsItemView">
    <div class="mapDetailsItemView" style="background:{{ color }}">
      <div class="name">{{ name }}</div>
      <div class="stats">{{ distance }} • {{ total.buses }} buses • {{ totalCost }}</div>
    </div>
  </script>

  <script type="text/template" id="tmpl-LineDetailsView">
    <nav>
      <div class="back">&#8592; All lines</div>
      <div class="right">
        <div class="add">Add a line</div>
        <div class="delete">Delete</div>
      </div>
    </nav>

    <header style="background: {{ color }}">
      <div class="name" contenteditable="true"><!-- dynamically inserted --></div>
    </header>

    <div class="serviceWindows" style="background: {{ color2 }};">
      <div class="columns">
        <span class="windowName"></span>
        <span class="from">From</span> 
        <span class="to">To</span>
        <span class="headway">Every</span>
      </div>

      <div class="windows">
        <!-- dynamically inserted -->
      </div>
    </div>

    <div class="outputs" style="background: {{ color3 }}">
      <h2>This line:</h2>
      <span class="distance">0 miles</span> <span class="showMileageOutputs"></span><br/>
      <span class="buses">0 buses</span> at peak <span class="showBusOutputs"></span><br/>
      <div class="costWrapper">
        <span class="cost">$0</span> / year <span class="showCostOutputs"></span>
      </div>
      <div class="revenueHoursWrapper" style="display:none">
        <span class="bigRevenueHours"></span> / year <span class="showCostOutputs"></span>
      </div>
    </div>

    <div class="outputs advancedOutputs mileageOutputs" style="background: {{ color3 }}">
      <h2>Distance:</h2>
      <span class="halfDistance">1.80 miles</span> each way<br/>
      <p>Support for differing inbound and outbound lines coming soon.</p>
    </div>

    <div class="outputs advancedOutputs busOutputs" style="background: {{ color3 }}">
      <h2>Bus assumptions:</h2>
      <input type="text" class="speed"> avg. speed<br/>
      <input type="text" class="layover"> recovery time<br/>
    </div>

    <div class="outputs advancedOutputs costOutputs" style="background: {{ color3 }}">
      <div class="dayCounts">
        Assuming: <input type="text" class="weekdaysPerYear"> weekdays,<br/>
        <input type="text" class="saturdaysPerYear"> saturdays,
        and <input type="text" class="sundaysPerYear"> sundays.
      </div>

      <span class="revenueHours">4504</span> service hours<br/>
      x <input type="text" class="hourlyCost"> per hour<br/>
      <p><a target="_blank" href="http://www.humantransit.org/02box.html">Read more</a> on transit costs.</p>
    </div>
  </script>

  <script type="text/template" id="tmpl-ServiceWindowView">
    <span class="toggle" style="display:none"></span>
    <span class="windowName"></span>
    <input type="text" class="from"></span>
    <input type="text" class="to"></span>
    <input type="text" class="headway"></span>
  </script>

  <script type="text/template" id="tmpl-NearbyEmptyView">
  <div class="apology">Sorry, we haven't loaded in bus lines for this city yet. But just send us a short note, and we'll get right to it.</div>
  <iframe height="419" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://transitmix.wufoo.com/embed/zwhnrd40xiflgv/"><a href="https://transitmix.wufoo.com/forms/zwhnrd40xiflgv/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
  </script>

  <script type="text/template" id="tmpl-MapSettingsView">
    <h2>Line Defaults</h2>
    <div class="closeSettings">&#x2715;</div>

    <div class="innerSettings"</div>
      <div class="weekdays">
        <h3>Service Windows</h3>
        <div class="weekdayServiceWindows serviceWindows"></div>
      </div>

      <div class="weekends">
        <div class="weekendServiceWindows serviceWindows"></div>
      </div>

      <div class="additional">
        <h3>Advanced</h3>
        <div class="item"><input type="text" class="speed"> avg. speed</div>
        <div class="item"><input type="text" class="layover"> recovery time</div>
        <div class="item"><input type="text" class="hourlyCost"> per hour</div>
      </div>

      <div class="additional">
        <div class="item"><input type="text" class="weekdaysPerYear"> weekdays</div>
        <div class="item"><input type="text" class="saturdaysPerYear"> saturdays</div>
        <div class="item"><input type="text" class="sundaysPerYear"> sundays</div>
      </div>

      <div class="additional">
        <div class="item toggleParent serviceHoursToggle"><div class="toggle"></div> Show service hours, not cost</div>
        <div class="item toggleParent metricUnitsToggle"><div class="toggle"></div> Use metric units (km)</div>
        <div class="item">&nbsp;</div>
      </div>
    </div>

    <p>Will apply to new lines. You can also <span class="applyToAll">apply to all existing lines</span>.</p>
  </script>

  <!-- libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.7.0/backbone.stickit.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js"></script>

  <!-- the finest quality javascripts -->
  <%= js :app %>

  <% if ENV['GOOGLE_ANALYTICS'] %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto');
    ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
